@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;500 & display=swap');


footer{
    display:flex;
    margin-top: 10%;
    width: 100%;
    height: 50px;
    .footer-left{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
        height: 50px;
        background: #084154;

        @media (max-width:600px) {
            width: 20%;
            justify-content: center;
        }

        img{
            margin-right:44px;
            width: 42px;
            height: 28px;

            @media (max-width:600px) {
                margin-right: 0;
            }
        }
    }
    .footer-right{
        display: flex;
        align-items: center;
        width:70%;
        background: #3EC6E0;
        color:#FFFFFF;

        @media (max-width:600px) {
            width: 80%;
        }

        p{
            margin-left:35px;
        }
    }
}